{% extends 'base.html.twig' %}

{% block title %}Silver Ride - Home{% endblock %}

{% block body %}
    <div class="Slide" id="#Home">
    <h1>Bienvenue sur Silver Ride</h1>
    <p>SilverRide, votre source de voitures de qualité. Découvrez notre sélection exceptionnelle de véhicules d'occasion.</p>
    </div>
    <div class="Slide" id="#Service">
    <h2>Nos Services</h2>
    <ul>
        <li>Vente de voitures d'occasion haut de gamme</li>
        <li>Service d'entretien et de réparation de qualité</li>
        <li>Financement flexible pour votre prochain véhicule</li>
    </ul>
    </div>
    <div class="Slide" id="#Car">
    <h2>Nos Véhicules</h2>
    <p>Nous nous engageons à vous offrir des voitures de qualité, un service exceptionnel et des solutions de mobilité fiables. Chez SilverRide, la satisfaction de nos clients est notre priorité absolue.</p>
    </div>
    <!-- Ajoutez d'autres éléments de présentation spécifiques à votre garage ici. -->
{% endblock %}
