@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat&family=Mukta:wght@300&family=Noto+Sans+Thai+Looped&family=Ysabeau+SC:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Slide {
    height: 100vh;
}

.Slide h1,
.Slide h2 {
    margin: 50px 0 0 50px;
    font-size: 48px;
}

.Slide p {
    margin: 50px 0 0 50px;
    font-size: 24px;
}

.Slide ul {
    margin: 50px 0 0 50px;
    font-size: 24px;
    list-style: none;
}