{% extends 'base.html.twig' %}

{% block content %}
    <h1>Bienvenue sur SilverRide</h1>
    <p>SilverRide, votre source de voitures de qualité. Découvrez notre sélection exceptionnelle de véhicules d'occasion.</p>

    <h2>Nos services</h2>
    <ul>
        <li>Vente de voitures d'occasion haut de gamme</li>
        <li>Service d'entretien et de réparation de qualité</li>
        <li>Financement flexible pour votre prochain véhicule</li>
    </ul>

    <h2>Nos valeurs</h2>
    <p>Nous nous engageons à vous offrir des voitures de qualité, un service exceptionnel et des solutions de mobilité fiables. Chez SilverRide, la satisfaction de nos clients est notre priorité absolue.</p>
    
    <!--éléments de présentation du garage -->
{% endblock %}
